<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>增加用户</title>
    <link href="/src/images/logoo.ico" type="image/x-icon" rel="shortcut icon"/>
    <link rel="stylesheet" href="/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/src/css/addUser.css"/>
</head>


<body>
<form class="layui-form">

    <div class="layui-form-item">
    ##        <div class="layui-inline">
        <label class="layui-form-label">持卡姓名：</label>
        <div class="layui-input-inline">
            <input type="text" name="userName" required lay-verify="required" lay-verType="tips" placeholder="请输入持卡人姓名"
                   autocomplete="off"
                   class="layui-input">
        </div>
    ##        <div class="layui-inline">
        <label class="layui-form-label">银行卡号：</label>
        <div class="layui-input-inline">
            <input type="text" name="cardId" required lay-verify="required" lay-verType="tips" placeholder="请输入银行卡号"
                   autocomplete="off"
                   class="layui-input">
        </div>

        <div class="layui-inline">
            <label class="layui-form-label">身份证号：</label>
            <div class="layui-input-inline">
                <input type="text" name="userCardId" required lay-verify="required|identity" lay-verType="tips"
                       placeholder="请输入身份证号"
                       autocomplete="off"
                       class="layui-input">
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">交易密码：</label>
                <div class="layui-input-inline">
                    <input type="password" name="transPwd" style="display:none">
                    <input type="password" name="transPwd" required lay-verify="required" lay-verType="tips"
                           placeholder="请初始化交易密码"
                           autocomplete="off"
                           class="layui-input">
                </div>
            ##        <div class="layui-inline">
                <label class="layui-form-label">家庭住址：</label>
                <div class="layui-input-inline">
                    <input type="text" name="userAddress" required lay-verify="required" placeholder="请输入联系地址"
                           autocomplete="off"
                           class="layui-input">
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">预留电话：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userTel" required lay-verify="required" placeholder="请输入预留电话"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                ##                    <div class="layui-inline">
                    <label class="layui-form-label">邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userEmail" required lay-verify="required|email" placeholder="请输入联系邮箱"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                ##                    <div class="layui-inline">
                    <label class="layui-form-label">手&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp机：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="userMobilePhone" required lay-verify="required|phone|number"
                               placeholder="请输入手机号"
                               autocomplete="off"
                               class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="userSex" value="男" title="男">
                            <input type="radio" name="userSex" value="女" title="女" checked>
                        </div>
                    </div>

                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">开户时间：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="openDate" f required lay-veriy="required|date" id="open"
                               placeholder="请输入开户时间"
                               autocomplete="off"
                               class="layui-input">
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">状&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp态：</label>
                        <div class="layui-input-block">
                            <input type="radio" name="stat" value="Y" title="正常">
                            <input type="radio" name="stat" value="L" title="挂失">
                            <input type="radio" name="stat" value="F" title="冻结" checked>
                        </div>
                    </div>

                    <label class="layui-form-label">开户金额：</label>
                    <div class="layui-input-inline">
                        <input type="text" name="oveage" f required lay-veriy="required|number"
                               placeholder="请输入开户金额"
                               autocomplete="off"
                               class="layui-input">
                    </div>

                </div>

                <div class="layui-input-button">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">
                        增&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp加
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary">
                        重&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp置
                    </button>
                </div>
</form>

<script type="text/javascript" src="/libs/layui/layui.js"></script>
<script type="text/javascript" src="/src/js/addUser.js"></script>
</body>
</html>