<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>首页</title>
    <link href="/src/images/logoo.ico" type="image/x-icon" rel="shortcut icon"/>
    <link rel="stylesheet" href="/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="/src/css/deleteOperator.css"/>
</head>

<body>
<form class="layui-form" action="/admin/queryOperator">
    <div class="layui-row">
        <div class="layui-col-md4 layui-col-md-offset4 query-btn">
            <label class="layui-form-label">操作员号：</label>
            <div class="layui-input-inline">
                <input type="text" name="userOperInfoId" required lay-verify="required" placeholder="操作员号"
                       autocomplete="off" class="layui-input">
            </div>

            <div class="layui-form-item">
                <div class="layui-input-button">
                    <button class="layui-btn " lay-submit lay-filter="formDemo">查&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp询
                    </button>
                    <button type="reset" class="layui-btn layui-btn-primary">重&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp置
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>
<hr>
<table id="queryUser">
##    <thead>
##    <tr>
##        <th><input type="checkbox" class="choose_all"></th>
##        <th>操作员号</th>
##        <th>姓名</th>
##        <th>身份证号</th>
##        <th>手机号</th>
##        <th>邮箱</th>
##        <th>电话号码</th>
##        <th>操作</th>
##
##    </tr>
##
##    </thead>
##    <tbody>
##    #foreach($userOperInfoVo in $result)
##    <tr>
##        <td></td>
##        <td>$!{userOperInfoVo.userOperInfoId}</td>
##        <td>$!{userOperInfoVo.operName}</td>
##        <td>$!{userOperInfoVo.operCardId}</td>
##        <td>$!{userOperInfoVo.operMp}</td>
##        <td>$!{userOperInfoVo.operEmail}</td>
##        <td>$!{userOperInfoVo.operTel}</td>
##        <td><div class="layui-btn-group">
##            <button class="layui-btn">修改</button>
##            <button class="layui-btn" lay-event="del">删除</button>
##        </div></td>
##    </tr>
##    #end
##    </tbody>
</table>
<script type="text/html" id="oper">
    <a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script type="text/javascript" src="/libs/layui/layui.js"></script>
<script type="text/javascript" src="/src/js/deleteOperator.js"></script>
</body>
</html>